<style>
    .about-section {
        padding: 60px 0;
        background-color: #f8f9fa;
    }

    .about-text h2 {
        font-weight: bold;
    }

    .about-text p {
        font-size: 1.1rem;
    }

    .about-img img {
        max-width: 100%;
        border-radius: 12px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }
</style>

<section class="about-section" id="about">
    <div class="container py-5">
        <div class="row py-5 text-center">
            <div class="col-lg-8 m-auto">
                <h1>Welcome to our Organic Food Society</h1>
                <h6 style="color: red;">Be Healthy Organic Food</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 about-img">
                <img src="Men_hold_fruit.jpg" alt="Best Quality">
            </div>
            <div class="col-lg-4 about-img">
                <img src="gf1.jpg" alt="Best Quality">
            </div>
            <div class="col-lg-4 about-img">
                <img src="Men_hold_fruit.jpg" alt="Best Quality">
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-12 text-center">
                <button class="btn1" onclick="window.location.href='/menu'">Shop More
                </button>
            </div>
        </div>
    </div>
</section>